@model LotTrackingApp.Models.LotTracking

<h1>Lot Details</h1>

<table>
    <tr>
        <th>Lot Code</th>
        <td>@Model.LotCode</td>
    </tr>
    <tr>
        <th>Lot Alias</th>
        <td>@Model.LotAlias</td>
    </tr>
    <tr>
        <th>Customer ID</th>
        <td>@Model.CustomerID</td>
    </tr>
    <tr>
        <th>Product ID</th>
        <td>@Model.ProductID</td>
    </tr>
    <tr>
        <th>Material ID</th>
        <td>@Model.MaterialID</td>
    </tr>
    <tr>
        <th>Flow ID</th>
        <td>@Model.FlowID</td>
    </tr>
    <tr>
        <th>Package ID</th>
        <td>@Model.PackageID</td>
    </tr>
    <tr>
        <th>Lead Type ID</th>
        <td>@Model.LeadTypeID</td>
    </tr>
    <tr>
        <th>Status ID</th>
        <td>@Model.StatusID</td>
    </tr>
    <tr>
        <th>Store ID</th>
        <td>@Model.StoreID</td>
    </tr>
    <tr>
        <th>Stage ID</th>
        <td>@Model.StageID</td>
    </tr>
    <tr>
        <th>Recipe ID</th>
        <td>@Model.RecipeID</td>
    </tr>
    <tr>
        <th>Current Quantity</th>
        <td>@Model.CurrentQty</td>
    </tr>
    <tr>
        <th>Current Sequence</th>
        <td>@Model.CurrentSequence</td>
    </tr>
    <tr>
        <th>Status Code</th>
        <td>@Model.StatusCode</td>
    </tr>
    <tr>
        <th>Stage Code</th>
        <td>@Model.StageCode</td>
    </tr>
    <tr>
        <th>Customer Code</th>
        <td>@Model.CustomerCode</td>
    </tr>
    <tr>
        <th>Total Saved Rejects</th>
        <td>@Model.TotalSavedRejects</td>
    </tr>
    <tr>
        <th>Total Saved Accounts</th>
        <td>@Model.TotalSavedAccounts</td>
    </tr>
    <tr>
        <th>Recipe Code</th>
        <td>@Model.RecipeCode</td>
    </tr>
    <tr>
        <th>Date Code Verified By</th>
        <td>@Model.DateCodeVerifiedBy</td>
    </tr>
    <tr>
        <th>Date Code</th>
        <td>@Model.DateCode</td>
    </tr>
    <tr>
        <th>PO Code</th>
        <td>@Model.POCode</td>
    </tr>
</table>
